<div class="row">
    <div class="col-md-3 mx-auto mt-5 ">
        <form (ngSubmit)="forgotpassword()" >
          <h1 class="h3 mb-3 font-weight-normal">Şifremi Unuttum</h1>
            <hr>            
            <div class="form-group">
                <input required type="email" [(ngModel)]="model.email" name="email" class="form-control" placeholder="Email adresinizi giriniz">
            </div>            
            <button class="btn btn-lg square_btn btn-block" type="submit">Gönder</button>
        </form>
    </div>
   <div style="height: 300px;">

   </div>
</div>