<div *ngIf="isAdmin()" class="container mt-5">
    <h3>Kategoriler</h3>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <app-admin-options></app-admin-options>
        </div>
        <div class="offset-md-1 col-md-9">
            <div>
                <h5>Kategoriyi Güncelle</h5>
            <hr>
            </div>                        
            <div class="mt-4">
                <form #editCategory="ngForm"  (ngSubmit)="updateCategory()">
                    <div class="form-group col-md-6 ">
                        <label for="categoryName" style="font-weight: bold;">Kategori Adı</label>
                        <input type="text" required  class="form-control" name="categoryName" [(ngModel)]="category.categoryName"
                            placeholder="{{category.categoryName}}">
                    </div>                                   
                    <div class="col-md-6">
                        <button [disabled]="editCategory.invalid" class="btn square_btn-success" type="submit" style="float: right;" >Değiştir</button>
                    </div>
                </form>               
            </div>
        </div>
    </div>