<div>
    <h5>SEÇENEKLER</h5>
    <hr>
    <a style="text-decoration: none; color: black;" [routerLink]="['/usermanage']"><i class="fas fa-users"></i>
        Kullanıcılar</a>
    <br>
    <a style="text-decoration: none; color: black;" [routerLink]="['/roles']"> <i class="fas fa-user-tag"></i>
        Roller</a>
    <br>
    <a style="text-decoration: none; color: black;" [routerLink]="['/categories']"> <i class="fas fa-columns"></i>
        Kategoriler</a>
    <br>
    <a style="text-decoration: none; color: black;"[routerLink]="['/messageread']"> <i class="fas fa-envelope"></i>
        Mesajlar</a>
    

</div>