<div *ngIf="isAdmin()" class="container mt-5">
    <h3>Kategoriler</h3>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <app-admin-options></app-admin-options>
        </div>
        <div class="offset-md-1 col-md-9">
            <h5>Alt Kategori Ekle</h5>
            <hr>            
            <div>
                <form #addingCategory="ngForm" (ngSubmit)="subCategoryAdd()">
                    <div class="form-group">
                        <input required type="text" #subcategoryName="ngModel" [(ngModel)]="model.subcategoryName" name="subcategoryName"
                            class="form-control" placeholder="Alt Kategori Adını Giriniz">
                        <div class="alert alert-danger mt-2" *ngIf="subcategoryName.invalid && subcategoryName.touched">
                            <p *ngIf="subcategoryName.errors.required">Kategori adı alanını doldurunuz</p>
                        </div>
                    </div>                 
                    
                    <button class="btn square_btn-success " [disabled]="addingCategory.invalid " type="submit">Kaydet</button>
                </form>                
            </div>
        </div>
    </div>