<div class="row">
    <div class="col-md-3 mx-auto mt-5 ">
        <form (ngSubmit)="resetPasword()">
            <h1 class="h3 mb-3 font-weight-normal text-center">Şifrenizi Sıfırlayın</h1>
            <hr>
            <div class="form-group">
                <input type="hidden" #userId="ngModel" [(ngModel)]="model.userId" name="userId" class="form-control">

            </div>
            <div class="form-group">
                <input type="hidden" #userId="ngModel" [(ngModel)]="model.userId" name="userId" class="form-control">
            </div>
            <div class="form-group">
                <input required minlength="8" lower type="password" #password="ngModel"
                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" [(ngModel)]="model.password" name="password"
                    class="form-control" placeholder="Şifrenizi Giriniz">
                <div class="alert alert-danger mt-2" *ngIf="password.invalid && password.touched">
                    <p *ngIf="password.errors.required">Şifre alanını doldurunuz</p>
                    <p *ngIf="password.errors.minlength">Şifreniz minimum 8 karakterli olmalıdır</p>
                    <p *ngIf="password.errors.pattern">Şifreniz büyük harf, küçük harf ve rakam içermelidir</p>
                </div>
            </div>
            <div class="form-group">
                <input required minlength="8" lower type="password" #confirmPassword="ngModel"
                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" [(ngModel)]="model.confirmPassword"
                    name="confirmPassword" class="form-control" placeholder="Şifrenizi Tekrar Giriniz">
                <div class="alert alert-danger mt-2" *ngIf="confirmPassword.invalid && confirmPassword.touched">
                    <p *ngIf="password.errors.required">Şifre alanını doldurunuz</p>
                    <p *ngIf="password.errors.minlength">Şifreniz minimum 8 karakterli olmalıdır</p>
                    <p *ngIf="password.errors.pattern">Şifreniz büyük harf, küçük harf ve rakam içermelidir</p>
                </div>
            </div>
            <button class="btn btn-lg square_btn-success btn-block" type="submit">Gönder</button>
        </form>
    </div>
    <div style="height: 290px;">

    </div>
</div>