<div *ngIf="isAdmin()" class="container mt-5">
    <h3>Rolleri Düzenle</h3>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <app-admin-options></app-admin-options>
        </div>
        <div class="offset-md-1 col-md-9">
            <h5>Roller</h5>
            <hr>
            <div class="mb-3" style="float:right;">
                <button type="button" class="btn square_btn " [routerLink]="['/roles/roleadd']" >Rol Ekle</button>
            </div>

            <div class="mt-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Rol Adı</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table " *ngFor="let role of roles">                        
                            <tr>
                                <td >{{role.id}}</td>
                                <td>{{role.name}}</td> 
                                <td><button type="button" class="btn square_btn-danger"
                                        [routerLink]="['/home']" (click)="deleteRole(role.id)"  >Rolü Sil</button></td>
                            </tr>                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>